<div class="home-container">
    <!-- Cabeçalho -->
    <header class="header">
      <div class="logo">Nails</div>
      <nav class="menu">
        <button class="btn" ui-sref="login">Agende</button>
        <button class="btn" ui-sref="userCadastrar">Cadastre-se para Agendar</button>
      </nav>
    </header>
  
    <!-- Contato -->
  <section class="contact-section">
    <a href="https://www.instagram.com/" class="contact-link" target="_blank">
     <i class="fa-brands fa-instagram"></i> Instagram
    </a>
    <a href="https://www.whatsapp.com/download?lang=pt_BR" class="contact-link" target="_blank">
      <i class="fa-brands fa-whatsapp"></i> WhatsApp
    </a>
    <a href="https://maps.app.goo.gl/8LgND1ntTNy38fH97" class="contact-link" target="_blank">
      <i class="fa-solid fa-location-dot"></i> Endereço
    </a>
  </section>

  
    <!-- Carrossel -->
    <section class="carousel-section">
      <h2>Nossos Serviços</h2>
      <div class="carousel">
        <button class="carousel-btn prev">&#10094;</button>
        <div class="carousel-items" ng-repeat="item in servicos">
          <div class="carousel-item">{{item.nome_servico}}</div>
          <div class="carousel-item">Esmaltação Simples</div>
          <div class="carousel-item">Francesinha</div>
          <div class="carousel-item">Alongamento em Gel</div>
          <div class="carousel-item">Spa das Mãos</div>
          <div class="carousel-item">Decoração</div>
        </div>
        <button class="carousel-btn next">&#10095;</button>
      </div>
    </section>
  
    <!-- Agenda -->
    <section class="agenda-section">
        <h2>Agenda</h2>
        <div class="agenda-grid">
          <div class="day-column" ng-repeat="(index, dia) in diaDaSemana">
            <h3>{{dia.nomeDia}}-{{dia.dataFormatada}}</h3>
            <div class="hora" ng-repeat="item in agendamentos | filter:{data_agendamento: dia.dataCompleta}">
              {{item.horarioFormatado}} - {{item.status_agendamento}}
            </div>
          </div>
      </section>
  
    <!-- Rodapé -->
    <footer class="footer">
      <p>&copy; 2025 Click Fácil Nails. Todos os direitos reservados.</p>
    </footer>
  </div>