<div class="home-container">
    <!-- Cabeçalho -->
    <header class="header">
      <div class="logo">Nails</div>
      <nav class="menu">
        <button class="btn" ui-sref="login" ng-show="acao == 'listando'">Agende</button>
        <button class="btn" ui-sref="agendaAdmProprietaria" ng-show="acao == 'cadastrando'">Home</button>
        <button type="button" class="btn" ui-sref="logout">Sair</button>
      </nav>
    </header>
  
    <!-- Contato -->
    <section class="contact-section" ng-show="acao == 'listando'">
      <a href="https://www.instagram.com/" class="contact-link" target="_blank">
       <i class="fa-brands fa-instagram"></i> Instagram
       <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </a>
      <a href="https://www.whatsapp.com/download?lang=pt_BR" class="contact-link" target="_blank">
        <i class="fa-brands fa-whatsapp"></i> WhatsApp
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </a>
      <a href="https://maps.app.goo.gl/8LgND1ntTNy38fH97" class="contact-link" target="_blank">
        <i class="fa-solid fa-location-dot"></i> Endereço
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </a>
    </section>
  
    <!-- Carrossel -->
    <section class="carousel-section" ng-show="acao == 'listando'">
      <div class="div-titulos">
        <h2 class="titulos">Serviços</h2>
        <button class="add-service-btn" ng-click="novoServicoAcao()">
          <i class="fa-solid fa-plus"></i> Adicionar Serviço
        </button>
      </div>

      <div class="carousel">
        <button class="carousel-btn prev">&#10094;</button>
        <div class="carousel-items" ng-repeat="item in servicos">
          <div class="carousel-item">{{item.tipo_servico}}</div>
        </div>
        <button class="carousel-btn next">&#10095;</button>
      </div>
    </section>

    <!--Formulário de adicionar serviço -->
    <section class="servico-container" ng-show="acao == 'cadastrando'">

    <div class="servico-box">
      <div class="servico-header">
        <h2>Cadastrar Serviço</h2>
        <button class="cancel-button" ng-click="listandoServicoAcao()">Cancelar</button>
      </div>
      <form>
        <div class="servico-linhas-selects">
          <label for="tipoServico">Tipo de Serviço</label>
          <select name="tipoServico" id="">
            <option value="Alongamento de Unhas">Alongamento de Unhas</option>
            <option value="Esmaltação em Gel">Esmaltação em Gel</option>
            <option value="Manicure Simples">Manicure Simples</option>
            <option value="Pedicure Simples">Pedicure Simples</option>
            <option value="Spa das Mãos">Spa das Mãos</option>
            <option value="Spa das Pés">Spa das Pés</option>
            <option value="Spa das Mãos/Pés">Spa das Mãos/Pés</option>
          </select> 

          <label for="statusServico" class="servico-linhas-label-segundo">Status do Serviço</label>
          <select name="statusServico" id="">
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
          </select>
        </div>

        <div class="servico-linhas-inputs">
          <label for="duracaoServico">Duração do Serviço:</label>
          <input type="time" id="duracaoServico" placeholder="Digite a duração do servico" required>
    
          <label for="precoServico" class="servico-linhas-label-quarto">Preço do Serviço:</label>
          <input type="number" step="0.01" min="0" id="precoServico" placeholder="Digite o preço do servico" required>
        </div>

        <div class="servico-linhas-area">
          <label for="descricaoServico">Descrição do Serviço:</label>
          <textarea name="descricaoServico" id="descricaoServico" placeholder="Descreva o servico" required></textarea>
        </div>
        
        <button type="button" class="btn-servico" ng-click="">Cadastrar</button>
      </form>

      </div>

    </section>
  
    <!-- Agenda -->
    <section class="agenda-section" ng-show="acao == 'listando'">
        <div class="div-titulos">
          <h2 class="titulos">Agenda</h2>
          <button class="add-scheduling-btn">
            <i class="fa-solid fa-plus"></i> Adicionar Agendamento
          </button>
        </div>
        <div class="agenda-grid">
          <div class="day-column" ng-repeat="(index, dia) in diaDaSemana">
            <h3>{{dia.nomeDia}}-{{dia.dataFormatada}}</h3>
            <div class="hora" ng-repeat="item in agendamentos | filter:{data_agendamento: dia.dataCompleta}">
              {{item.horarioFormatado}} - {{item.status_agendamento}}
            </div>
          </div>
      </section>
  
    <!-- Rodapé -->
    <footer class="footer">
      <p>&copy; 2025 Click Fácil Nails. Todos os direitos reservados.</p>
    </footer>
  </div>

